# Binaries
/git-user
/dist/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Temporary files
/tmp/

# npm
npm/node_modules/
npm/bin/git-user
npm/bin/git-user.exe
npm/bin/git-user-*
npm/package-lock.json
*.tgz
npm/packages/
